{
  "presets": [
    ["env", {"useBuiltIns": true, "modules": false}],
    ["react"]
  ],
  "plugins": [
    "transform-es2015-modules-commonjs",
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}
